each group in groups
	.message
		.image
				img( src="img/all.png" )

		if (group.admin == "1")
			.delete
				a( href="#", data-id="#{group.id}", name="delete-group", title="Delete")
					img.icon( src="img/delete.png")

			.edit
				a(href="#/group/#{group.id}/edit")
					img.icon( src="img/edit.png", data-id="#{group.id}",name="edit", title="Edit")

		if (group.admin == "0" && group.member == "1" && group.id != "0")
			.delete
				img.icon( src="img/no.png" , href="#/groups",data-id="#{group.id}",name="leave", title="Leave")

		else if (group.member == "awaiting")
			.delete
				img.icon( src="img/wait.png" , href="#/groups", title="Waiting")

		else if (group.member != "1")
			.delete
				img.icon( src="img/plus.png" , href="#/groups",data-id="#{group.id}",name="join", title="Join")

		.name
			label.orange #{group.name}
			label
				if (group.id == "0")
					a( href="#",data-id="#{group.id}") show >>
				else if (group.member == "1")
					a( href="#/group/#{group.id}/show", data-id="#{group.id}") show >>

		.created
			label created #{new Date(group.date_created).toLocaleDateString()}

		.text #{group.description.substr(0,30)}...
