.row
	form(name="create-group-form").form-horizontal
		.control-group
			label.control-label Name:
			.controls
				input(type="text",name="name",value="#{group.name}")
				span.help-block

		.control-group
			label.control-label Description:
			.controls
				textarea(name="description") #{group.description}
				span.help-block

		//-.control-group
			label.control-label Has password:
			.controls
				input(type="checkbox" name="has_password"  value="#{group.has_password}")
				span.help-block

		//-.control-group
			label.control-label Password:
			.controls
				input(type="password" name="password")
				span.help-block

		.control-group
			label.control-label Has approvement:
			.controls
				if (group.has_approvement == "1")
					input(type="checkbox",name="has_approvement",checked)
				else
					input(type="checkbox",name="has_approvement")
				span.help-block
				if (group.id)
					input(type="hidden",name="id",value="#{group.id}")

		.control-group
			.controls
				button.btn.btn-info(type="button",name="submit")= isNew? 'Create' : 'Save'
