each group in groups
	.message
		.image
				img( src="img/all.png" )
		if (group.admin == "1")
			.delete
				img.icon( src="img/no.png" , href="#/groups",data-id="#{group.id}",name="delete", title="Delete")
			.edit
				img.icon( src="img/edit.png" , href="#/editGroup",data-id="#{group.id}",name="edit", title="Edit")
		if (group.admin == "0" && group.member == "1")
			.delete
				img.icon( src="img/no.png" , href="#/groups",data-id="#{group.id}",name="leave", title="Leave")
		if (group.member != "1")
			.delete
				img.icon( src="img/plus.png" , href="#/groups",data-id="#{group.id}",name="join", title="Join")
		.name
			label.orange #{group.name}
			label 
				if (group.member == "1")
					a( href="#/showgroup",data-id="#{group.id}",name="show") show >>
		.created
			label created #{new Date(group.date_created).toLocaleDateString()}
		.text #{group.description.substr(0,30)}...