each message, index in messages
	.row
		.span1
			label #{message.first_name} #{message.last_name}
		.span2
			label #{message.message}
		.span3
			label created #{new Date(message.date_created).toLocaleDateString()}
		if (user.id == message.user_id)
				.span5
					a( href="#",data-id="#{message.uid}",name="delete-message",data-group_id="#{group_id}") Delete
		if (message.comments)
			each comment in message.comments
				.row2
					.span1
						label #{comment.first_name} #{comment.last_name}
					.span2
						label #{comment.message}
					.span3
						label created #{new Date(comment.date_created).toLocaleDateString()}
					if (user.id == comment.user_id)
						.span5
							a( href="#",data-id="#{comment.uid}",name="delete-message",data-group_id="#{group_id}") Delete
		form(name="comment-message-form", id="comment-#{index}").form-horizontal

			.control-group
				.controls
					input(type="text", name="message").comment-message
					span.help-block
					input(type="hidden", name="group_id", value="#{group_id}").group_id
					input(type="hidden", name="parent_id", value="#{message.uid}").parent_id
					input(type="hidden", name="page", value="#{page}").page
					button.btn(type="button", name="submit-message", data-id="#{index}") Comment