- var ar = message.content.split(';')
.message(data-type="message", data-id=message.uid)
	if (message.gender == "Female")
		.image
			img( src="img/girl.png" )
	else
		.image
			img( src="img/boy.png" )
	if (user.id == message.user_id)
			.delete
				img.icon( src="img/no.png", name="delete-activity",data-group_id=message.group_id, title="Delete")
	.name
		label.orange
			a( href="#/otherprofile",data-id="#{message.user_id}",name="showOtherUser" ) #{message.user_name}

	.text
		label #{ar[0]}

	.created
		label created #{new Date(message.date_created).toLocaleString()}
	.comments-count
		a(name="loadComments")
			if (ar[1] == "0" )
				label Add 
			else
				label Show #{ar[1]}
			img(src="img/comment.png", class="icon icon-comment")
	#comments