each message, index in messages
	.message
		.image
			img( src="img/girl.png" )
		if (user.id == message.user_id)
				.delete
					img.icon( src="img/no.png" , href="#",data-id="#{message.uid}",name="delete-message",data-group_id="#{group_id}", title="Delete") 
		.name
			label.orange #{message.first_name} #{message.last_name} 
			label wrote:
		.created
			label created #{new Date(message.date_created).toLocaleDateString()}
		.text
			label #{message.message}
		
	.comments
		if (message.comments)
			each comment in message.comments
				.comment
					.image
						img( src="img/girl.png" )
					if (user.id == comment.user_id)
						.delete
							img.icon( src="img/no.png" , href="#",data-id="#{comment.uid}",name="delete-message",data-group_id="#{group_id}", title="Delete") 
					.name
						label.orange #{comment.first_name} #{comment.last_name} 
						label commented
					.created
						label created #{new Date(comment.date_created).toLocaleDateString()}
					.text
						label #{comment.message}
		form(name="comment-message-form", id="comment-#{index}").form-horizontal

			.new-comment
				.image
					img( src="img/girl.png" )
				.name
					label.orange #{message.first_name} #{message.last_name} 
					label :
				.text
					input(type="text", name="message").comment-message
					input(type="hidden", name="group_id", value="#{group_id}").group_id
					input(type="hidden", name="parent_id", value="#{message.uid}").parent_id
					input(type="hidden", name="page", value="#{page}").page
					button.btn.btn-info(type="button", name="submit-message", data-id="#{index}") Comment