.row
	.span1
		label #{user.first_name}
	.span2
		label #{user.last_name}
	.span3
		label #{user.email}
	.span4
		label #{user.phone}
		label #{user.birth_day}
		label #{user.birth_month}
		label #{user.birth_year}
		label #{user.gender}
		label #{user.city}
	.span3
		a( href="#/editprofile",data-id="#{user.id}",name="editprofile") Edit Profile
	.span#edit_profile