.row
	.span12.center
		span #{user.first_name} #{user.last_name}
.row
	.span12.center
		span #{user.email}
.row
	.span12.center
		- var bdayfull = user.date_of_birth
		- var bday = bdayfull.split("-")
		span #{bday[2]}.#{bday[1]}.#{bday[0]}
.row
	.span12.center
		span #{user.gender}
.row
	.span12.center
		span #{user.school}

	.span