.name #{user.first_name} #{user.last_name}
.age #{Math.floor( (new Date() - new Date(user.date_of_birth)) / (1000 * 60 * 60 * 24 * 365) )} years old
.email #{user.email}
.school from #{user.school}
.row
	.span 