.row
	.span12.center
		span #{user.first_name}
.row
	.span12.center
		span #{user.last_name}
.row
	.span12.center
		span #{user.email}
.row
	.span12.center
		span #{user.phone}
.row
	.span12.center
		span #{user.birth_day}.#{user.birth_month}.#{user.birth_year}
.row
	.span12.center
		span #{user.gender}
.row
	.span12.center
		span #{user.city}
.row
	.span12.center
		a( href="#/editprofile",data-id="#{user.id}",name="editprofile") Edit Profile
	.span#edit_profile