form(name="profile-form").form-horizontal
	.control-group
		label.control-label Name:
		.controls
		input(type="text",name="first_name",value="#{user.first_name}")
	.control-group
		label.control-label Last Name:
		.controls
		input(type="text",name="last_name",value="#{user.last_name}")
	.control-group
		label.control-label Email:
		.controls
		input(type="text",name="email",value="#{user.email}")
	.control-group
		label.control-label Birthday:
		.controls
		input(type="date",name="birth_day")
	.control-group
		label.control-label Gender:
		.controls
		input(type="text",name="gender",value="#{user.gender}")
	.control-group
		label.control-label School:
		.controls
		input(type="text",name="school",value="#{user.school}")
		button.btn(type="button",name="update") Update