each activity in activities
	.row
		.span2
			- var array = activity.content
			- var content = array.split(";")
			a( href="#{content[0]}" ) #{content[0]}
		.span2
			span #{content[1]} Stars
		.span2
			span #{new Date(activity.date_created).toLocaleDateString()}
		.span2
			span #{activity.first_name} #{activity.last_name}
		.span1
			span Rating
