each activity in activities
	.row
		.span2
			- var array = activity.content
			- var content = array.split(";")
			a( href="#{content[0]}" ) #{content[0]}
		.span2
			span #{content[1]} Stars
		.span2
			span #{new Date(activity.date_created).toLocaleDateString()}
		.span2
			a( data-id="#{activity.user_id}",name="showOtherUser" ) #{activity.user_name}
		.span1
		if (user.id == activity.user_id)
			a( href="#/ratings",data-id="#{activity.object_id}",name="deleteRating") Delete
