each activity in activities
	.row
		.span2
			- var array = activity.content
			- var content = array.split(";")
			a( href="#{content[0]}",name="birthday" ) #{content[0]}
		.span2
			span #{content[1]}
		.span2
			span #{new Date(activity.date_created).toLocaleDateString()}
		.span2
			span #{activity.user_name}
		.span1
			span Recommendation
