- var array = activity.content
- var content = array.split(";")
.message(data-type="recommendation", data-id=activity.object_id)
	if (activity.gender == "Female")
		.image
			img( src="img/girl.png" )
	else
		.image
			img( src="img/boy.png" )
	if (user.id == activity.user_id)
		.delete
			img.icon( src="img/no.png", ,name="delete-activity", title="Delete")
	.name
		label.orange
			a( href="#/profile/#{activity.user_id}/show" ) #{activity.user_name}
		label
			| Recommended:&nbsp;
			a( href="http://#{content[0]}",name="recommendation", target="_blank" ) #{content[1]}

	.text #{content[2]}

	.created
		label created #{new Date(activity.date_created).toLocaleString()}



