each activity in activities
	.row
		.span2
			- var array = activity.content
			- var content = array.split(";")
			a( href="http://#{content[0]}",name="activities" ) #{content[1]}
		if (activity.type == 1)
			.span2
				span Stars
		else
			.span2
				//- span(title="#{activity.description}") #{activity.description.substr(0,30)}...
		.span2
			span #{new Date(activity.date_created).toLocaleDateString()}
		.span2
			a( data-id="#{activity.user_id}",name="showOtherUser" ) #{activity.user_name}
		if (user.id == activity.user_id)
			if (activity.type == 1)
				.span1
					a( href="#/profile",data-id="#{activity.object_id}",name="deleteActivityRating") Delete
			else
				.span1
					a( href="#/profile",data-id="#{activity.object_id}",name="deleteActivityRecommendation") Delete

