.left.groups-left
	.span6.title
		img( src="img/all.png" )
		.title-name #{group.name.substr(0,30)}
		.title-desc #{group.description.substr(0,55)}...
	.links
		.link
			a(href="#/group/#{group.id}/show")
				label: b Activities

	.links.links-half
		.link
			a(href="#/group/#{group.id}/members" )
				img(src="img/all.png", class="icon")
				label Show members
	.links.links-second
		if (group.admin == "1")
			.link
				a(href="#/group/#{group.id}/edit" )
					img(src="img/edit.png", class="icon")
					label Edit group
			.link
				a(href="#", data-id="#{group.id}",name="delete-group")
					img(src="img/delete.png", class="icon")
					label Delete group

		else if (group.member == "1")
			.link
				a(href="#", data-id="#{group.id}", name="leave-group")
					img(src="img/no.png", class="icon")
					label Leave group

.right.groups-right
	.messages-right

		.create-message#create_message
		.list-message#activities
		#view_content



.span#pager
